*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    margin:20px;
    width: 510px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container {
    border: 1px solid #f4f4f4;
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
   
}